//- 入力エラー
mixin clipmail-error
  .wrapper.cm-wrapper
    .rows.cm-rows
      .cols.col-12
        h3 入力エラー
        p 入力内容に誤りがあります。<br>前画面に戻って正しく入力してください。
        dl.cm-dl
          // cell_begin 
          dt !key!
          dd !val!
          // cell_end 
        form.area-confirm.error
          button.cm-button.button-large(type="button" onclick="history.back()") « 前画面にもどる

//- 確認画面
mixin clipmail-confirm
  .wrapper.cm-wrapper
    .rows.cm-rows
      .cols.col-12
        h3 入力確認画面
        p 以下の内容でよろしければ送信ボタンを押して下さい。 
        dl.cm-dl
          // cell_begin 
          dt !key!
          dd !val!
          // cell_end 
        form.area-confirm.conf(action='!mail_cgi!' method='post')
          // hidden 
          ul.cm-list-bottom
            li.cm-item-main
              button.cm-button.button-large(type='submit') 上記内容で送信
                i.fa.fa-angle-double-right
            li.cm-item-sub
              button.cm-button.button-medium(type='button' onclick='history.back()') 
                i.fa.fa-angle-double-left
                |前画面にもどる
            

//- 送信完了
mixin clipmail-thanks(formTitle)
  .wrapper.cm-wrapper
    .rows.cm-rows
      .cols.col-12
        h3 送信完了
        .cm-area-thanks
          p.cm-lead #{formTitle}が完了いたしました。<br>翌営業日中に、ご回答させていただきますのでしばらくお待ちください。
          p お客様のメールアドレス宛てに、自動返信メールを送信しました。
          p もし、2分程度経っても自動返信メールが届かない場合は、<br>入力されたメールアドレスに誤りがある可能性があります。
          p その場合は、お手数ですがお問い合せ願います。
          form.area-confirm.submit
            button.cm-button.button-large(type='button', onclick="window.open('!back!','_top')")
              i.fa.fa-angle-double-left
              |トップに戻る

//- テキスト（１行）
mixin input-text(name, placeholder, required, className)
  - var classes = [];
  if required
    - classes.push('input-required');
  if className
    - classes.push(className);
  input(name=name, type="text" class=classes, placeholder=placeholder)

//- 電話
mixin input-tel(name, placeholder, required, className)
  - var classes = [];
  if required
    - classes.push('input-required');
  if className
    - classes.push(className);
  input(name=name, type="tel" class=classes, placeholder=placeholder)

//- メールアドレス
mixin input-email(className)
  input(name="_email", type="email" class='input-required ' + className, placeholder='例）yamada@example.com')

//- セレクトボックス
mixin select(name, values, required, className, defaultVal)
  - var classes = [];
  if required
    - classes.push('input-required');
  if className
    - classes.push(className);
  select(name=name, class=classes)
    if defaultVal
      option(value='') 選択してください
    for val in values
      option(value=val)=val

//- 都道府県選択
mixin input-pref(name, required, className, defaultVal)
  - var classes = [];
  if required
    - classes.push('input-required');
  if className
    - classes.push(className);
  select.input-short(name=name, class=classes)
    if defaultVal
      option(value="") 選択して下さい
    for val in ['北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県','滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県']
      if val === '鳥取県'
        option(value=val, selected)=val
      else
        option(value=val)=val

//- チェックボックスリスト
mixin checkbox-group(groupName, values, required, empty, checked, idName, className)
  - var classes = ['list-checkbox'];
  if required
    - classes.push('group-required');
  if className
    - classes.push(className);
  ul(class=classes)
    for val, index in values
      li.item-checkbox
        if index == 0
          input(id="#{idName}#{index + 1}" type="checkbox", name=groupName, value=empty ? '' : val, checked=checked ? 'checked' : false)
        else
          input(id="#{idName}#{index + 1}" type="checkbox", name=groupName, value=val)
        label(for="#{idName}#{index + 1}")=val

//- ラジオボタンリスト
mixin radio-group(groupName, values, required, empty, checked, idName, className)
  - var classes = ['list-radio'];
  if required
    - classes.push('group-required');
  if className
    - classes.push(className);
  ul(class=classes)
    for val, index in values
      li.item-radio
        if index == 0
          input(id="#{idName}#{index + 1}" type="radio", name=groupName, value=empty ? '' : val, checked=checked ? 'checked' : false)
        else
          input(id="#{idName}#{index + 1}" type="radio", name=groupName, value=val)
        label(for="#{idName}#{index + 1}")=val

//- Clipmail用hidden
//- 2つの入力内容が同一かをチェック（半角スペースで指定）
//- name値の並び順を指定（半角スペースで指定）
mixin input-sort(value)
  input(type="hidden" name="sort" value=value)

//- 二つのフォームの比較（半角スペースで2つ以上指定）
mixin input-match(value)
  input(type="hidden" name="match" value=value)

//- 入力必須項目を強制指定する（半角スペースで指定）
mixin input-need(value)
  input(type="hidden" name="need" value=value)

//- clipmailの遷移画面のurlリスト
mixin debug-clipmail(path)
  if general.debug
    .debug-panel
      h3.title Clipmailページ
      ul
        li: a(href="/cgi-bin/#{path}-clipmail/tmpl/conf.html") 確認画面
        li: a(href="/cgi-bin/#{path}-clipmail/tmpl/error.html") エラー
        li: a(href="/cgi-bin/#{path}-clipmail/tmpl/conf.html") 送信完了

mixin debug-wp(path, themeName, categoryPage, archivePage, singlePage)
  if general.debug
    .debug-panel
      h3.title Wordpress ページ
      ul
        li: a(href="/#{path}/wp-content/themes/#{themeName}/index.html") トップページ
        if categoryPage
          li: a(href="/#{path}/wp-content/themes/#{themeName}/category.html") カテゴリページ
        if archivePage
          li: a(href="/#{path}/wp-content/themes/#{themeName}/archive.html") アーカイブページ
        if singlePage
          li: a(href="/#{path}/wp-content/themes/#{themeName}/single.html") 個別記事

//- パンくず
mixin breadcrumb(list, link)
  .area-pankuzu
    .wrapper.wrapper-pankuzu
      ul.list-pankuzu
        - for(var i = 0; i < list.length; i++) {
          - if(i === list.length-1) {
            li !{list[i]}
          - } else {;
            li
              a(href!="#{link[i]}") !{list[i]}
          - };
        - };

//- ソーシャルボタン
mixin socialbuttons(title = general.title, link = general.url)
  #social.area-social
    .wrapper
      .rows
        .cols.col-12
          .block-social
            ul.list-social-buttons
              li
                .fb-like(data-href=title, data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                script.
                  (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.11&appId=362851420751625';
                  fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
              li: span.button-line-default: a.social-button-line(href=`http://line.naver.jp/R/msg/text/?${title}　${link}`, target='_blank'): img(src='/misc/social_line.png', width='80', alt='LINEで送る')
              li: a.button-mail-default(href=`mailto:?subject=${title}&body=${link}`): img(src='/misc/social_mail.gif', alt='メールで送る', width='82')